<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Express App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/uianime.js"></script>
    <style>
        body {
            font-family: Ubuntu;
            background-color: #F0EDE5;
            font-size: 1.5em;
        }

        .background-border {
            border: 1px solid rgb(41, 127, 207);
            background-color: whitesmoke;
            border-radius: 5px;
        }
        .form-group {
            padding: 25px 50px;
        }

        .form-group>.row {
            padding: 5px 0px;
        }

        .form-group>.row>input {
            border: 1px solid rgb(77, 154, 226);
            border-radius: 3px;
        }

        .centering {
            float: none;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="container">
            <ul class="nav navbar-nav">
                <li onclick="showTab('ul.navbar-nav > li > a.active', '#add', 'active')"><a href="#add" class="active">Add</a></li>
                <li onclick="showTab('ul.navbar-nav > li > a.active', '#view', 'active')"><a href="#view">View</a></li>
            </ul>
        </div>
        <div id="add" class="container background-border">
            <h2>Add Customers</h2>
            <form id="addCustomer" method="POST" action="/user/add" class="form-group container">
                <div class="row">
                    <label class="col-sm-6 col-xs-12">First name</label>
                    <input class="col-sm-6 col-xs-12" type="text" name="fname" />
                </div>
                <div class="row">
                    <label class="col-sm-6 col-xs-12">Last name</label>
                    <input class="col-sm-6 col-xs-12" type="text" name="lname" />
                </div>
                <div class="row">
                    <label class="col-sm-6 col-xs-12">Email</label>
                    <input class="col-sm-6 col-xs-12" type="text" name="email" />
                </div>
                <div class="row">
                    <label class="col-sm-6 col-xs-12">Age</label>
                    <input class="col-sm-6 col-xs-12" type="number" name="age" />
                </div>
                <div class="row">
                    <label class="col-sm-6 col-xs-12">Gender</label>
                    <select class="col-sm-6 col-xs-12">
                        <option value="">---Select---</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="row text-center">
                    <button type="submit" class="btn btn-primary" onclick="addCustomer()">Submit</button>
                    <button class="btn btn-default">Cancel</button>
                </div>
                <div>
                    <ul>
                        <% if(errors != undefined) { %>
                            <% errors.forEach(function(error){ %>
                                <li>
                                    <%= error.msg %>
                                </li>
                            <% }) %>
                        <% } %>
                    </ul>
                </div>
            </form>
        </div>
        <div id="view" class="container table-responsive background-border" style="display: none;">
            <h2>List of Added Customers</h2>
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Firstname</th>
                        <th class="text-center">Lastname</th>
                        <th class="text-center">Email</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(function(user, index){ %>
                        <tr id=row<%= index %>>
                            <td>
                                <%= index + 1 %>
                            </td>
                            <td>
                                <%= user.fname %>
                            </td>
                            <td>
                                <%= user.lname %>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>
                            <td>
                                <a href='#' onclick=update(<%= index %>)><img width="24" height="24" src="/icons/icons8-pencil-30.png"/></a>
                                <a href='#' onclick=remove(<%= index %>)><img width="24" height="24" src="/icons/icons8-close-window-24.png"/></a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>